#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.app {
  text-align: center;
  padding: 20px;
}

.file-uploader{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.error-message {
  color: red;
  font-weight: bold;
  margin-top: 10px;
}

.image-preview {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.image-item {
  margin: 10px;
  position: relative;
}

.image-thumb {
  width: 480px;
  height: 320px;
  object-fit: cover;
  border: 1px solid #ddd;
  border-radius: 8px;
}

.remove-btn {
  position: absolute;
  top: 5px;
  right: 30px;
  background-color: rgb(234, 18, 18);
  color: white;
  border: none;
  border-radius: 10%;
  width: fit-content;
  height: fit-content;
  cursor: pointer;
}

.parse-btn {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.parsed-data {
  margin-top: 20px;
  text-align: left;
  max-width: 500px;
}

.parsed-data ul {
  list-style-type: none;
  padding: 0;
}

.parsed-data li {
  margin-bottom: 5px;
}
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #333;
  color: white;
  display: flex;
  justify-content: end;
  align-items: end;
  padding: 15px 20px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}
.navbar button{
  margin-right: 30px;
}



